html
{
    box-sizing: border-box;
}
.BodyIndex{
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 400;
}
a{
    color: initial;
    text-decoration: none;
}
a:focus
{
  outline: 1px solid var(--color-hover);
}
:root{
    --color-text-x1:#FFFFFF;
    --bth-color-orange:#FF9900;
    --color-text-x2:#333333;
    --color-hover: #E1670E;
}
.Main_BodyIndex
{
    margin: 0 auto;
    padding: 0 0;
    padding-left: 75px;
    padding-right: 57px;
}
@font-face {
    font-family: "Montserrat";
    src: url('../Fonts/montserrat-bold.woff') format("woff"),
    url('../Fonts/montserrat-bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url('../Fonts/montserrat-extrabold.woff') format("woff"),
    url('../Fonts/montserrat-extrabold.woff2') format("woff2"); 
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url('../Fonts/montserrat-regular.woff') format("woff"),
    url('../Fonts/montserrat-regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url('../Fonts/montserrat-medium.woff') format("woff"),
    url('../Fonts/montserrat-medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url('../Fonts/montserrat-semibold.woff') format("woff"),
    url('../Fonts/montserrat-semibold.woff2') format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*Шапка и навигация */
.Header
{
    padding: 14px 75px 11px 75px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.Header_container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Items__Table__Header_container
{
    font-weight:  600;
    font-size: 18px;
    line-height: 22px;
    margin-right: 85px;
}
.links__Items__Table__Header_container:hover{
    color: var(--color-hover);
    transition: color 0.2s linear;
}
.navigation__Header_container
{
    display: flex;
    align-items: center;
}
.magnifier__navigation__Header_container{
    margin-right: -16px;
}
.magnifier__navigation__Header_container:hover path{
    stroke: var(--color-hover);
}
.magnifier__navigation__Header_container:hover rect{
    fill: var(--color-hover);
}
.Table__Header_container
{
    display: flex;
    list-style-type: none;
}
/*проект решения*/
.Draft_decision
{
    margin-bottom: 100px;
    padding: 100px 853px 100px 80px;
}
.Title_x1__Main_BodyIndex
{
    font-weight: 800;
    margin: 0;
    color: var(--color-text-x1);
    font-size: 70px;
    line-height: 87px;
    margin-bottom: 24px;
}
.Text__Main_BodyIndex
{
    width: 790px;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    margin: 0;
    margin-bottom: 90px;
    color: var(--color-text-x1);
}
.bth__Main_BodyIndex{
    font-weight: 700;
    font-size: 23.4581px;
    line-height: 30px;
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
    padding: 24px 37px;
    background-color: var(--bth-color-orange);
    color: var(--color-text-x1);
}
.bth__Main_BodyIndex:hover{
    background: var(--color-hover);
    transition:  background 0.2s ease;
}
.img_dom
{
    background-image: url("../img/low-angle-photo.jpg");
    background-repeat: no-repeat;
}
/*о нас*/
.Text-block__About__Main_BodyIndex{
    margin-right: 535px;
}
.Title-text-x2__Main_BodyIndex{
    margin: 0;
    margin-bottom: 20px;
    color: var(--color-text-x2);
    font-size: 48px;
    font-weight: 400;
    line-height: 59px;
}
.text__About__Main_BodyIndex{
    margin: 0;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: var(--color-text-x2);
    width: 1235px;
}

.text-img__Work_text__Items__Work__About__Main_BodyIndex{
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-text-x1);
    margin: 0;
}
.Title-text-x3__Main_BodyIndex{
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-text-x2);
}
.bth-img__Work_text__Items__Work__About__Main_BodyIndex{
    font-weight: 700;
    margin-left: 139px;
    padding: 17px 35px;
    font-size: 16px;
    line-height: 20px;
    border: 3px solid var(--bth-color-orange);
    color: var(--color-text-x1);
    background-color: initial;
    cursor: pointer;
}
.bth-img__Work_text__Items__Work__About__Main_BodyIndex:hover{
    background: var(--color-hover);
    transition: background 0.2s ease, border 0.2s ease;
    border: var(--color-hover);
}
.About__Main_BodyIndex{
    margin-bottom: 102px;
}
.Work__About__Main_BodyIndex{
    display: flex;
}
.Work_text
{
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
}
.Elemets__Work__About__Main_BodyIndex{
    border: 1px solid #CACACA;
    padding: 64px 120px 64px 60px;
    margin-bottom: 32px;
}
.Elemets__Work__About__Main_BodyIndex:last-child{
    margin-bottom: 0;
}
.Items__Work__About__Main_BodyIndex{
    padding-top: 426px;
    margin-right: 32px;
}
.Items__Work__About__Main_BodyIndex:last-child{
    margin-right: 0;
    padding: 0;
}
.table__Elemets__Work__About__Main_BodyIndex{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}
.width__table__Elemets__Work__About__Main_BodyIndex{
    margin-right: 48px;
    width: 190px;
    height: 165px;
}
.text__table__Elemets__Work__About__Main_BodyIndex
{
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    line-height: 32px;
    width: 452px;
}
.img_work
{
    background-image: url("../img/Work.jpg");
    background-repeat: no-repeat;
}
.img_cube
{
    background-image: url("../img/cube.svg");
    background-repeat: no-repeat;
}
.img_gear_Wheel
{
    background-image: url("../img/Frame12.svg");
    background-repeat: no-repeat;
}
/*Как мы работаем*/
.working__Main_BodyIndex{
    margin-bottom: 105px;
}
.Table__working__Main_BodyIndex{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
}
.Title-text-x2__working__Main_BodyIndex{
    font-weight: 400;
    margin: 0;
    margin-bottom: 50px;
    color: var(--color-text-x2);
    font-size: 48px;
    line-height: 59px;
}
.Title-text-x3__consultation__Inf__working__Main_BodyIndex{
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-text-x2);
}
.text__consultation__Inf__working__Main_BodyIndex{
    font-weight: 400;
    margin: 0;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 32px;
    width: 758px;
    margin-right: 142px;
    color: var(--color-text-x2);
}
.bth__consultation__Inf__working__Main_BodyIndex{
    font-weight: 700;
    font-size: 16px;
line-height: 20px;
    padding: 20px 38px;
    cursor: pointer;
    background-color: var(--bth-color-orange);
    color: var(--color-text-x1);
    border: 0;
}
.bth__consultation__Inf__working__Main_BodyIndex:hover{
    background: var(--color-hover);
    transition: background 0.3s ease;
}
.bth2__consultation__Inf__working__Main_BodyIndex{
    font-weight: 400;
    margin-left: 28px;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--color-text-x2);
    padding: 19px 37px;
}
.bth2__consultation__Inf__working__Main_BodyIndex:hover{
    background: var(--color-text-x2);
    color: var(--color-text-x1);
    transition: background 0.3s ease, color 0.2s linear;
}
.Inf__working__Main_BodyIndex{
    display: flex;
}
.Img-hands__Inf__working__Main_BodyIndex{
    margin-top: 11px;
    width: 870px;
    height: 460px;
}
.items__Table__working__Main_BodyIndex{
    font-weight: 400;
    font-size: 18px;
line-height: 19px;
    margin-right: 86px;
}
.items__Table__working__Main_BodyIndex:last-child{
    margin-right: 0;
}
.links__items__Table__working__Main_BodyIndex:hover{
    color: var(--color-hover);
    transition: color 0.2s linear;
}
.img_1step
{
    background-image: url("../img/Rectangle18.png");
    background-repeat: no-repeat;
}
/*questions*/
.Title-text-x2__question__Main_BodyIndex{
    margin: 0;
    margin-bottom: 39px;
    font-size: 48px;
line-height: 59px;
font-weight: 400;
color: #333333;
}
.question__Main_BodyIndex{
    margin-bottom: 100px;
}
.Table__question__Main_BodyIndex{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.items__Table__question__Main_BodyIndex{
    padding-top: 30px;
    padding-bottom: 29px;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text__items__Table__question__Main_BodyIndex{
    font-weight: 700;
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-text-x2);
}
.text__items__Table__question__Main_BodyIndex:hover{
    color: var(--bth-color-orange);
    border-color: var(--color-hover);
  transition:color 0.2s linear;
}
.items__Table__question__Main_BodyIndex:hover{
    border-top: 1px solid var(--color-hover);
    border-bottom: 1px solid var(--color-hover);
}
.items__Table__question__Main_BodyIndex:hover ellipse{
    fill: var(--color-hover);
}
.items__Table__question__Main_BodyIndex:hover path{
    fill: var(--color-text-x1);
}
.items__Table__question__Main_BodyIndex:hover + .items__Table__question__Main_BodyIndex {
    border-top: 1px solid transparent; 
 }
 .items__Table__question__Main_BodyIndex:last-child {
   border-bottom: 1px solid  #CACACA;
 }
 .items__Table__question__Main_BodyIndex:last-child:hover {
   border-bottom: 1px solid var(--color-hover);
 }

/*низ*/
.Footer_container
{
    background-color: #222222;
    padding: 50px 75px 50px 75px;
    display: flex;
    justify-content: space-between;
}
.left_colum__Footer_container{
    margin-right: 115px;
}
.Table__left_colum__Footer_container{
    margin: 0;
    margin-bottom: 89px;
    padding: 0;
    list-style-type: none;
}
.link__items__Table__left_colum__Footer_container{
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
}
.link__items__Table__left_colum__Footer_container:hover{
    color: var(--color-hover);
    transition:color 0.2s linear;
}
.Table-icon__left_colum__Footer_container{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.items__Table-icon__left_colum__Footer_container{
    margin-right: 25px;
}
.items__Table-icon__left_colum__Footer_container:last-child{
    margin-right: 0;
}
.items__Table-icon__left_colum__Footer_container:hover path{
    fill: var(--color-hover);
}
.Title-x3__center_colum__Footer_container{
    font-weight: 400;
    margin: 0;
    margin-bottom: 18px;
    font-size: 48px;
line-height: 66px;
color: #CACACA;
}
.Text-footer__right_colum__Footer_container{
    font-weight: 400;
    margin: 0;
    margin-top: 88px;
    font-size: 16px;
line-height: 32px;
color: #CACACA;
width: 363px;
margin-right: -17px;
}
.Form__center_colum__Footer_container{
    display: flex;
    flex-direction: column;
}
.bth__Form__center_colum__Footer_container{
    display: flex;
}
.bth__center_colum__Footer_container{
    font-weight: 700;
    font-size: 16px;
line-height: 20px;
    cursor: pointer;
    margin-right: 23px;
    background-color: #FF9900;
    border: 0;
    color: var(--color-text-x1);
    padding: 19px 52px;
}
.bth__center_colum__Footer_container:hover{
    background: var(--color-hover);
    transition: background 0.2s ease;
}
.text__bth__Form__center_colum__Footer_container
{
    font-weight: 400;
    color: #CACACA;
    font-size: 16px;
line-height: 32px;
}
.name__Form__center_colum__Footer_container{
    padding: 14px 328px 14px 24px;
    height: 32px;
    border: 0;
    color: #CACACA;
    background:  #414141;
    margin-bottom: 25px;
}
.email__Form__center_colum__Footer_container{
    padding: 14px 328px 14px 24px;
    height: 32px;
    margin-bottom: 25px;
    border: 0;
    color: #CACACA;
    background:  #414141;
}
.msg__Form__center_colum__Footer_container{
    color: #CACACA;
    margin-bottom: 32px;
    border: 0;
    background:  #414141;
    padding: 22px 348px 91px 24px;
}
.img_logo__left_colum__Footer_container{
    margin-bottom: 17px;
}